.timerBox{
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(56, 88, 75);
  border-radius: 50%;
  box-shadow: 4px 4px 8px rgb(34, 32, 32);
}

h2{
  font-size: 20px;
  color: white;
}

input{
  height: 2rem;
  width: 8rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  outline: 1px solid rgb(56, 56, 236);
}

.buttonDiv{
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

button{
  width: 3.5rem;
  height: 2rem;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: none;
}
.start{
  background-color: green;
}
.stop{
  background-color: red;
}
p{
  color: white;
  font-size: 20px;
}