.userBox{
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgb(222, 230, 228);
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgb(2, 2, 2);
}

.searchInput{
  width: 14.5rem;
}

.infoBox h2{
  color: black;
  font-size: 30px;
}

.search, .sort{
  width: 7rem;
  background-color: blue;
  margin: 0.5rem 0.5rem 0 0;
}